.notunique {
  background-color: rgb(69, 152, 224);
}
p{
  background-color: rgb(218, 163, 60);
  color: rgb(44, 44, 42)
}
#myself {
  background-color: rgb(168, 89, 89);
  font-size: 20px;
}
  